@charset "UTF-8";
@font-face {
  font-family: "made_outer_sanslight";
  src: url("../fonts/made_outer_sans_light_personal_use-webfont.woff2") format("woff2"), url("../fonts/made_outer_sans_light_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "made_outer_sansthin";
  src: url("../fonts/made_outer_sans_thin_personal_use-webfont.woff2") format("woff2"), url("../fonts/made_outer_sans_thin_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "madre_roseregular";
  src: url("../fonts/madreroseregular-4bqrw-webfont.woff2") format("woff2"), url("../fonts/madreroseregular-4bqrw-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* fonts */
/* font sizes */
/* Colors */
body {
  box-sizing: border-box;
  margin: 0;
}

/*MENU*/
.sidebar {
  font-family: "made_outer_sanslight";
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: #1d1d1d;
  overflow-x: hidden;
  display: none;
  padding-top: 60px;
}

.sidebar a {
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.contmenu {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.contmenu ul {
  list-style: none;
  padding: 0;
  width: 100%;
  list-style: none;
  padding-top: 11vw;
  width: 100%;
}
.contmenu ul li a {
  color: #fff;
  font-family: "madre_roseregular";
  display: flex;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  flex-direction: column;
}
.contmenu ul li a:hover {
  background-color: #555;
}

.loop {
  position: fixed;
  bottom: 0;
}

.sidebar .closebtn {
  padding: 8px 8px 8px 32px;
  display: block;
  color: #fff;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  z-index: 4;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/*FIN MENU*/
/*INFORMATIONS*/
.info {
  background-color: #f3ece0;
}
.info a {
  text-decoration: none;
}
.info .infor {
  position: relative;
  top: 86px;
  font-family: "madre_roseregular";
  text-align: center;
}
.info .infor h1 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 65px;
}
.info .exp {
  padding-top: 20vh;
}
.info .exp h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-family: "made_outer_sanslight";
  text-align: left;
}
.info .exp p {
  width: 50vw;
  font-family: "made_outer_sansthin";
  text-align: left;
}
.info .loopinscri {
  position: relative;
  top: 15vh;
  display: flex;
  align-items: center;
}
.info a {
  display: flex;
}
.info a h3 {
  font-family: "madre_roseregular";
  text-transform: uppercase;
  color: #1d1d1d;
}

.dropdown .dropdown-conte {
  display: none;
}

/*FIN INFORMATION*/
.fond-noir {
  background-color: #1d1d1d;
}

.fond-beige {
  background-color: #f3ece0;
}

.sectiontravaux {
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sectiontravaux::after, .sectiontravaux::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 300px; /* Ajustez la largeur du dégradé selon vos besoins */
}
.sectiontravaux::after {
  right: 0;
  background: linear-gradient(to left, #1d1d1d, rgba(0, 0, 0, 0));
}
.sectiontravaux::before {
  left: 0;
  background: linear-gradient(to right, #1d1d1d, rgba(0, 0, 0, 0));
}
.sectiontravaux .svg-souris {
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
}
.sectiontravaux h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: #fff;
  font-family: "madre_roseregular";
  font-size: 2vw;
  white-space: nowrap;
}
.sectiontravaux article {
  width: 15vw;
  height: 40vh;
  margin-right: 10vw;
  position: relative;
}
.sectiontravaux article:nth-child(even) {
  /* Votre style pour les articles pairs ici */
  display: flex;
  align-items: flex-end;
}
.sectiontravaux article .image-travaux {
  width: 100%;
  position: relative;
  display: inline-block; /* Ensures that the container size matches the image size */
}
.sectiontravaux article .image-travaux::before {
  content: "";
  background: #3653ff; /* Your overlay color */
  mix-blend-mode: color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Make sure the overlay is behind the image */
  transition: 0.5s ease; /* Ajoutez une transition pour une animation */
}
.sectiontravaux article .image-travaux img {
  width: 100%;
  max-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block; /* Removes any extra space below the image */
  z-index: 2; /* Ensures the image is on top of the overlay */
  filter: grayscale(100%);
  transition: 0.5s ease; /* Ajoutez une transition pour une animation */
}
.sectiontravaux article .image-travaux:hover::before {
  background: transparent; /* Supprime la couleur de superposition au survol */
}
.sectiontravaux article .image-travaux:hover img {
  filter: grayscale(0%); /* Supprime l'effet de gris au survol */
}

.sectionprojets {
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sectionprojets::after, .sectionprojets::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 300px; /* Ajustez la largeur du dégradé selon vos besoins */
}
.sectionprojets::after {
  right: 0;
  background: linear-gradient(to left, #f3ece0, rgba(0, 0, 0, 0));
}
.sectionprojets::before {
  left: 0;
  background: linear-gradient(to right, #f3ece0, rgba(0, 0, 0, 0));
}
.sectionprojets .svg-souris {
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
}
.sectionprojets .svg-filtre-open, .sectionprojets .svg-filtre-close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 7; /* Pour s'assurer que le SVG est au-dessus du contenu */
}
.sectionprojets .svg-filtre-close {
  display: none;
}
.sectionprojets .filtre {
  display: flex;
  opacity: 0;
  flex-direction: row;
  justify-content: flex-end;
  height: 10vh;
  width: 100%;
  background-color: #3653ff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
  padding-right: 5vw;
}
.sectionprojets .filtre ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sectionprojets .filtre ul li {
  padding-right: 2vw;
}
.sectionprojets .filtre ul li a {
  font-size: 1vw;
  font-family: "made_outer_sanslight";
  text-decoration: none;
  color: #fff;
}
.sectionprojets h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: #1d1d1d;
  font-family: "madre_roseregular";
  font-size: 2vw;
  white-space: nowrap;
}
.sectionprojets article {
  width: 15vw;
  height: 40vh;
  margin-right: 10vw;
  position: relative;
}
.sectionprojets article:nth-child(even) {
  /* Votre style pour les articles pairs ici */
  display: flex;
  align-items: flex-end;
}
.sectionprojets article .image-travaux {
  width: 100%;
  position: relative;
  display: inline-block; /* Ensures that the container size matches the image size */
}
.sectionprojets article .image-travaux::before {
  content: "";
  background: #3653ff; /* Your overlay color */
  mix-blend-mode: color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Make sure the overlay is behind the image */
  transition: 0.5s ease; /* Ajoutez une transition pour une animation */
}
.sectionprojets article .image-travaux img {
  width: 100%;
  max-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block; /* Removes any extra space below the image */
  z-index: 2; /* Ensures the image is on top of the overlay */
  filter: grayscale(100%);
  transition: 0.5s ease; /* Ajoutez une transition pour une animation */
}
.sectionprojets article .image-travaux:hover::before {
  background: transparent; /* Supprime la couleur de superposition au survol */
}
.sectionprojets article .image-travaux:hover img {
  filter: grayscale(0%); /* Supprime l'effet de gris au survol */
}

.section-detail {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightblue;
}
.section-detail article {
  height: 100vh;
  width: 50vw;
  background-color: lightcoral;
}
.section-detail article:first-child {
  background-color: #f3ece0;
  display: flex;
  align-items: flex-end;
}
.section-detail article:first-child .div-detail {
  background-color: #fff;
  height: 50vh;
  width: 100%;
  padding: 3vw 3vw 1.5vw 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-detail article:first-child .div-detail .last {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-detail article:first-child .div-detail .last a {
  color: #1d1d1d;
  font-family: "made_outer_sanslight";
  font-size: 1.2vw;
  text-decoration: none;
}
.section-detail article:first-child .div-detail h1 {
  font-family: "made_outer_sanslight";
  font-size: 2vw;
  color: #3653ff;
}
.section-detail article:first-child .div-detail p {
  font-family: "made_outer_sansthin";
  font-size: 1vw;
  color: #1d1d1d;
  width: 50ch;
}
.section-detail article:last-child {
  background-color: lavender;
}
.section-detail article:last-child img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}/*# sourceMappingURL=style.css.map */