@media (min-width: 992px) { 
   
/*MENU*/

.sidebar {
    left: -250px;
    background-color: $noir;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    transition: left 0.5s;
  
    a {
      padding: 8px 8px 8px 32px;
      text-align: left;
      transition: 0.3s;
    }
  
    .openbtn {
      writing-mode: vertical-rl;
      left: 0;
      top: 0;
      height: 100%;
  
      h3 {
        font-family: $font-made-outer-sans-light;
        text-transform: uppercase;
        content: "Menu";
        color: $blanc;
      }
    }
  
    .contmenu {
      flex-direction: row-reverse;
      align-items: stretch;
      background-color: aqua;
  
      ul {
        li {
          a {
            text-align: left;
            font-size: $font-size-96;
            padding: 10px;
            flex-direction: row;
  
            &:hover {
              background-color: #555;
            }
          }
        }
      }
    }
  
    .loop {
      position: fixed;
      bottom: 0;
    }
  }
/*INFORMATIONS*/
.info{ 
    
    a{
            text-decoration: none; }  
    .infor{
        font-family: $font-madre-rose;
        text-align: center;
       
       
           
            h1{
                font-size: $font-size-40;
        text-transform: uppercase;
        line-height: 130px;

    }
          
        }
        .exp{
            padding-top: 20vh;
            h2{
                text-transform: uppercase;
font-weight: 300;
font-family: $font-made-outer-sans-light;

text-align: left;
            }
            p{
                font-family: $font-made-outer-sans-thin;
                text-align: left;
               
            }
        }
        .loopinscri{
           position: relative;
           top:15vh;
           display: flex;
           align-items: center;
       } 
       a{
        display: flex;
            h3{
                font-family: $font-madre-rose;
                text-transform: uppercase;
                color: $noir;
        }
       }
   
       
}
.dropdown {
 
.dropdown-conte { 
    display: none;
    
}
}
// animation text
.loop-effect {
    animation: loop 5s linear infinite;
   
    
}

.loop-effect2 {
    animation: loop2 5s linear infinite;
    
   
    
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes loop2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

}


// fin animation text


