// Import missing variables or mixins here

@media (min-width: 992px) { 
     
    /*MENU*/
    
    .sidebar {
        // Add your styles here
    }
         
    .sidebar a {
        padding: 8px 8px 8px 32px; 
        text-align: left;
        display: flex;
        flex-direction: row; 
        transition: 0.3s; 
    }
    
    .openbtn {
        left: 0;
        top: 0; 
        height: 100%;     
        background-color: $noir;
        .openbtn img {
            display: none;
                
              }
            
         
            
          
            
        h3 {
            display: block;
            font-family: $font-made-outer-sans-light;
            text-transform: uppercase;
            color: $white;
        }
    }
    
    .contmenu {
        flex-direction: row-reverse;
        align-items: stretch;
            
        ul {
            li {
                a {
                    text-align: left;
                    font-size: $font-size-96;
                    padding: 10px;
                    flex-direction: row;
                    
                    &:hover {
                        background-color: #555;
                    }
                }
            }
        }       
    }
    
    .loop {
        position: relative;
        bottom: 0;
    }
         
    /*INFORMATIONS*/
    .info { 

        a {
            text-decoration: none;
        }  
        .row{

      
    row-gap: 29vh;

        .infor {
            font-family: $font-madre-rose;
            margin-left: 37%;
            h1 {
                
                font-size: $font-size-80;
                text-transform: uppercase;
                text-align: right;
            }
        }
        
        .exp {
            position: relative;
           
            padding-top: 20vh;
            
            h2 {
                text-transform: uppercase;
                font-weight: 300;
                font-family: $font-made-outer-sans-light;
                text-align: justify;
            }
            
            p {
                font-family: $font-made-outer-sans-thin;
                text-align: left;
            }
        }
          }
        .loopinscri {
            position: relative;
            top: 15vh;
        } 
        
        a {
            display: flex;
            
            h3 {
                font-family: $font-madre-rose;
                text-transform: uppercase;
                color: $noir;
            }
        }
    }
    
    .dropdown {
        .dropdown-conte { 
                position: absolute;
                top: 100%; /* Positionnez-le sous l'élément déclencheur */
                left: 0;
                background-color: white; /* Optionnel : couleur de fond pour la visibilité */
                z-index: 1;
            display: none;
        }
    }
    
 
}
